In [1]:
!pip install streamlit

Requirement already satisfied: streamlit in c:\users\sharvari\.conda\envs\process_mining_env\lib\site-packages (1.50.0)
Requirement already satisfied: altair!=5.4.0,!=5.4.1,<6,>=4.0 in c:\users\sharvari\.conda\envs\process_mining_env\lib\site-packages (from streamlit) (5.5.0)
Requirement already satisfied: blinker<2,>=1.5.0 in c:\users\sharvari\.conda\envs\process_mining_env\lib\site-packages (from streamlit) (1.9.0)
Requirement already satisfied: cachetools<7,>=4.0 in c:\users\sharvari\.conda\envs\process_mining_env\lib\site-packages (from streamlit) (5.5.2)
Requirement already satisfied: click<9,>=7.0 in c:\users\sharvari\.conda\envs\process_mining_env\lib\site-packages (from streamlit) (8.1.8)
Requirement already satisfied: numpy<3,>=1.23 in c:\users\sharvari\.conda\envs\process_mining_env\lib\site-packages (from streamlit) (1.24.4)
Requirement already satisfied: packaging<26,>=20 in c:\users\sharvari\.conda\envs\process_mining_env\lib\site-packages (from streamlit) (25.0)
Requirement already satisfied: pandas<3,>=1.4.0 in c:\users\sharvari\.conda\envs\process_mining_env\lib\site-packages (from streamlit) (2.3.0)
Requirement already satisfied: pillow<12,>=7.1.0 in c:\users\sharvari\.conda\envs\process_mining_env\lib\site-packages (from streamlit) (11.3.0)
Requirement already satisfied: protobuf<7,>=3.20 in c:\users\sharvari\.conda\envs\process_mining_env\lib\site-packages (from streamlit) (6.33.0)
Requirement already satisfied: pyarrow>=7.0 in c:\users\sharvari\.conda\envs\process_mining_env\lib\site-packages (from streamlit) (21.0.0)
Requirement already satisfied: requests<3,>=2.27 in c:\users\sharvari\.conda\envs\process_mining_env\lib\site-packages (from streamlit) (2.32.4)
Requirement already satisfied: tenacity<10,>=8.1.0 in c:\users\sharvari\.conda\envs\process_mining_env\lib\site-packages (from streamlit) (9.1.2)
Requirement already satisfied: toml<2,>=0.10.1 in c:\users\sharvari\.conda\envs\process_mining_env\lib\site-packages (from streamlit) (0.10.2)
Requirement already satisfied: typing-extensions<5,>=4.4.0 in c:\users\sharvari\.conda\envs\process_mining_env\lib\site-packages (from streamlit) (4.14.1)
Requirement already satisfied: watchdog<7,>=2.1.5 in c:\users\sharvari\.conda\envs\process_mining_env\lib\site-packages (from streamlit) (6.0.0)
Requirement already satisfied: gitpython!=3.1.19,<4,>=3.0.7 in c:\users\sharvari\.conda\envs\process_mining_env\lib\site-packages (from streamlit) (3.1.45)
Requirement already satisfied: pydeck<1,>=0.8.0b4 in c:\users\sharvari\.conda\envs\process_mining_env\lib\site-packages (from streamlit) (0.9.1)
Requirement already satisfied: tornado!=6.5.0,<7,>=6.0.3 in c:\users\sharvari\.conda\envs\process_mining_env\lib\site-packages (from streamlit) (6.5.1)
Requirement already satisfied: jinja2 in c:\users\sharvari\.conda\envs\process_mining_env\lib\site-packages (from altair!=5.4.0,!=5.4.1,<6,>=4.0->streamlit) (3.1.6)
Requirement already satisfied: jsonschema>=3.0 in c:\users\sharvari\.conda\envs\process_mining_env\lib\site-packages (from altair!=5.4.0,!=5.4.1,<6,>=4.0->streamlit) (4.25.1)
Requirement already satisfied: narwhals>=1.14.2 in c:\users\sharvari\.conda\envs\process_mining_env\lib\site-packages (from altair!=5.4.0,!=5.4.1,<6,>=4.0->streamlit) (2.0.1)
Requirement already satisfied: colorama in c:\users\sharvari\.conda\envs\process_mining_env\lib\site-packages (from click<9,>=7.0->streamlit) (0.4.6)
Requirement already satisfied: gitdb<5,>=4.0.1 in c:\users\sharvari\.conda\envs\process_mining_env\lib\site-packages (from gitpython!=3.1.19,<4,>=3.0.7->streamlit) (4.0.12)
Requirement already satisfied: smmap<6,>=3.0.1 in c:\users\sharvari\.conda\envs\process_mining_env\lib\site-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19,<4,>=3.0.7->streamlit) (5.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\sharvari\.conda\envs\process_mining_env\lib\site-packages (from pandas<3,>=1.4.0->streamlit) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\sharvari\.conda\envs\process_mining_env\lib\site-packages (from pandas<3,>=1.4.0->streamlit) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\sharvari\.conda\envs\process_mining_env\lib\site-packages (from pandas<3,>=1.4.0->streamlit) (2025.2)
Requirement already satisfied: charset_normalizer<4,>=2 in c:\users\sharvari\.conda\envs\process_mining_env\lib\site-packages (from requests<3,>=2.27->streamlit) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\sharvari\.conda\envs\process_mining_env\lib\site-packages (from requests<3,>=2.27->streamlit) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\sharvari\.conda\envs\process_mining_env\lib\site-packages (from requests<3,>=2.27->streamlit) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\sharvari\.conda\envs\process_mining_env\lib\site-packages (from requests<3,>=2.27->streamlit) (2025.8.3)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\sharvari\.conda\envs\process_mining_env\lib\site-packages (from jinja2->altair!=5.4.0,!=5.4.1,<6,>=4.0->streamlit) (3.0.2)
Requirement already satisfied: attrs>=22.2.0 in c:\users\sharvari\.conda\envs\process_mining_env\lib\site-packages (from jsonschema>=3.0->altair!=5.4.0,!=5.4.1,<6,>=4.0->streamlit) (25.4.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in c:\users\sharvari\.conda\envs\process_mining_env\lib\site-packages (from jsonschema>=3.0->altair!=5.4.0,!=5.4.1,<6,>=4.0->streamlit) (2025.9.1)
Requirement already satisfied: referencing>=0.28.4 in c:\users\sharvari\.conda\envs\process_mining_env\lib\site-packages (from jsonschema>=3.0->altair!=5.4.0,!=5.4.1,<6,>=4.0->streamlit) (0.36.2)
Requirement already satisfied: rpds-py>=0.7.1 in c:\users\sharvari\.conda\envs\process_mining_env\lib\site-packages (from jsonschema>=3.0->altair!=5.4.0,!=5.4.1,<6,>=4.0->streamlit) (0.27.1)
Requirement already satisfied: six>=1.5 in c:\users\sharvari\.conda\envs\process_mining_env\lib\site-packages (from python-dateutil>=2.8.2->pandas<3,>=1.4.0->streamlit) (1.17.0)

In [2]:
!pip install plotly_express, plotly

ERROR: Invalid requirement: 'plotly_express,': Expected end or semicolon (after name and no valid version specifier)
    plotly_express,
                  ^

In [3]:
import streamlit as st
import pandas as pd
import sqlite3
import hashlib
import os
from datetime import datetime
from PIL import Image
import plotly.express as px
import plotly.graph_objects as go

In [4]:
df=pd.read_csv("dataset\\train.csv")

In [5]:
df

,record_ID,week,store_id,sku_id,total_price,base_price,is_featured_sku,is_display_sku,units_sold
0,1,17/01/11,8091,216418,99.0375,111.8625,0,0,20
1,2,17/01/11,8091,216419,99.0375,99.0375,0,0,28
2,3,17/01/11,8091,216425,133.9500,133.9500,0,0,19
3,4,17/01/11,8091,216233,133.9500,133.9500,0,0,44
4,5,17/01/11,8091,217390,141.0750,141.0750,0,0,52
...,...,...,...,...,...,...,...,...,...
150145,212638,09/07/13,9984,223245,235.8375,235.8375,0,0,38
150146,212639,09/07/13,9984,223153,235.8375,235.8375,0,0,30
150147,212642,09/07/13,9984,245338,357.6750,483.7875,1,1,31
150148,212643,09/07/13,9984,547934,141.7875,191.6625,0,1,12
150149,212644,09/07/13,9984,679023,234.4125,234.4125,0,0,15

In [6]:
df[['day','month','year']]= df['week'].str.split('/',expand=True)

In [7]:
df

,record_ID,week,store_id,sku_id,total_price,base_price,is_featured_sku,is_display_sku,units_sold,day,month,year
0,1,17/01/11,8091,216418,99.0375,111.8625,0,0,20,17,01,11
1,2,17/01/11,8091,216419,99.0375,99.0375,0,0,28,17,01,11
2,3,17/01/11,8091,216425,133.9500,133.9500,0,0,19,17,01,11
3,4,17/01/11,8091,216233,133.9500,133.9500,0,0,44,17,01,11
4,5,17/01/11,8091,217390,141.0750,141.0750,0,0,52,17,01,11
...,...,...,...,...,...,...,...,...,...,...,...,...
150145,212638,09/07/13,9984,223245,235.8375,235.8375,0,0,38,09,07,13
150146,212639,09/07/13,9984,223153,235.8375,235.8375,0,0,30,09,07,13
150147,212642,09/07/13,9984,245338,357.6750,483.7875,1,1,31,09,07,13
150148,212643,09/07/13,9984,547934,141.7875,191.6625,0,1,12,09,07,13
150149,212644,09/07/13,9984,679023,234.4125,234.4125,0,0,15,09,07,13

In [8]:
df=df.drop('week',axis=1)

In [9]:
df

,record_ID,store_id,sku_id,total_price,base_price,is_featured_sku,is_display_sku,units_sold,day,month,year
0,1,8091,216418,99.0375,111.8625,0,0,20,17,01,11
1,2,8091,216419,99.0375,99.0375,0,0,28,17,01,11
2,3,8091,216425,133.9500,133.9500,0,0,19,17,01,11
3,4,8091,216233,133.9500,133.9500,0,0,44,17,01,11
4,5,8091,217390,141.0750,141.0750,0,0,52,17,01,11
...,...,...,...,...,...,...,...,...,...,...,...
150145,212638,9984,223245,235.8375,235.8375,0,0,38,09,07,13
150146,212639,9984,223153,235.8375,235.8375,0,0,30,09,07,13
150147,212642,9984,245338,357.6750,483.7875,1,1,31,09,07,13
150148,212643,9984,547934,141.7875,191.6625,0,1,12,09,07,13
150149,212644,9984,679023,234.4125,234.4125,0,0,15,09,07,13

In [10]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

X,y = df.drop('units_sold',axis=1),df['units_sold']

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [11]:
model.score(X_test,y_test)

NameError: name 'model' is not defined

In [ ]:
from sklearn.metrics import mean_squared_error
import numpy as np

y_pred = model.predict(X_test)
rmse = np.sqrt(mean_squared_error(y_test, y_pred))

rmse

In [ ]:
df.units_sold.describe()

In [ ]:
df.units_sold.hist()

In [ ]:
import matplotlib.pyplot as plt
plt.scatter(y_test, y_pred)
plt.plot(np.linspace(y_pred.min(),y_pred.max()),np.linspace(y_test.min(),y_test.max()),color='red')

In [ ]:
df.hist(figsize=(15,8))
plt.show()

In [ ]:
df=df.drop('record_ID',axis=1)

In [ ]:
df

In [ ]:
len(df.store_id.unique())

In [ ]:
len(df.sku_id.unique())

In [ ]:
df.units_sold.quantile(0.99)

In [ ]:
df=df[df.units_sold<df.units_sold.quantile(0.99)]

In [ ]:
df.units_sold.hist(bins=20)

In [ ]:
df=df.join(pd.get_dummies(df.store_id, prefix='store')).drop('store_id',axis=1)
df=df.join(pd.get_dummies(df.sku_id, prefix='item')).drop('sku_id',axis=1)

In [ ]:
df

In [ ]:
model = RandomForestRegressor(n_jobs=-1)
X,y=df.drop('units_sold',axis=1),df['units_sold']
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [ ]:
# Fill NaN values in X_train before fitting
X_train_filled = X_train.fillna(X_train.mean())
model.fit(X_train_filled, y_train)

In [ ]:
model.score(X_test,y_test)

In [ ]:
from sklearn.metrics import mean_squared_error
import numpy as np

y_pred = model.predict(X_test)
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
rmse

In [ ]:
plt.scatter(y_pred,y_test)
plt.plot(np.linspace(y_pred.min(),y_pred.max()),np.linspace(y_test.min(),y_test.max()),color='red')

In [ ]:
from sklearn.model_selection import GridSearchCV

param_grid = {
    'n_estimators': [10,20],
    'min_samples_split': [2, 3]
}

model = RandomForestRegressor(n_jobs=-1)

grid_search = GridSearchCV(model,param_grid,verbose=2,cv=3)

grid_search.fit(X_train_filled,y_train)

In [ ]:
best_model = grid_search.best_estimator_

In [ ]:
grid_search.best_params_

In [ ]:
best_model.score(X_test,y_test)

In [ ]:
!pip install lightgbm

In [ ]:
# ...existing code...
# Ensure week_dt is datetime and drop rows with missing week_dt
df['week_dt'] = pd.to_datetime(df['week_dt'], errors='coerce')
df = df.dropna(subset=['week_dt'])

min_date = df['week_dt'].min()
max_date = df['week_dt'].max()
# ...existing code...